.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.post {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }